@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family:   sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  
  
:root  {
  --background: 0 100% 95%;
  --backgroundtemp: 0 100% 95%;
  --foreground: 0 5% 10%;
  --card: 0 50% 90%;
  --card-foreground: 0 5% 15%;
  --popover: 0 100% 95%;
  --popover-foreground: 0 100% 10%;
  --primary: 0 72.2% 50.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -38 30% 85%;
  --muted-foreground: 0 5% 35%;
  --accent: -38 30% 80%;
  --accent-foreground: 0 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 0 5% 90%;
  --border: 0 30% 50%;
  --input: 0 30% 26%;
  --ring: 0 72.2% 50.6%;
  --radius: 0.75rem;
  --sidebar-background: 0 35% 95%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 0 30% 70%;
  --sidebar-ring: 217.2 91.2% 59.8%;
  
}
.dark  {
  --background: 0 50% 10%;
  --backgroundtemp: -38 30% 25%;
  --foreground: 0 5% 90%;
  --card: 0 50% 10%;
  --card-foreground: 0 5% 90%;
  --popover: 0 50% 5%;
  --popover-foreground: 0 5% 90%;
  --primary: 0 72.2% 50.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 30% 20%;
  --secondary-foreground: 0 0% 80%;
  --muted: -38 30% 25%;
  --muted-foreground: 0 5% 60%;
  --accent: -38 30% 25%;
  --accent-foreground: 0 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 0 5% 90%;
  --border: 0 30% 26%;
  --input: 0 10% 50%;
  --ring: 0 72.2% 50.6%;
  --radius: 0.75rem;
  --sidebar-background: 2 10% 7%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}


}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Misologist';
  src: url('/fonts/Misologist.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

